body {
    font-family: "Inter", sans-serif;
}

#title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    color: #99BC85;
}

#explaination {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    color: #99BC85;
}

#indept{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vh;
    color: #99BC85;
}

#btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#btn:hover {
    background-color: #45a049;
}

html {
    background-color: #E1F0DA;
}

#count {
    position: absolute;
    top: 90%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #BFD8AF;
    color: white;
    border: none;
    cursor: pointer;
}

#clap {
    position: absolute;
    top: 90%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #BFD8AF;
    color: white;
    border: none;
    cursor: pointer;
}

#you{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vh;
    color: #99BC85;
}

#bot{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vh;
    color: #99BC85;
}

#mynum {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    color: white;
    text-shadow: 0 0 0.5vh black;
}

#botnum {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vh;
    color: white;
    text-shadow: 0 0 0.5vh black;
}

#lose{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    color: #99BC85;
}

#restart {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#restart:hover {
    background-color: #45a049;
}

#win {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vh;
    color: #99BC85;
}

#count:hover {
    background-color: #45a049;
}

#clap:hover {
    background-color: #45a049;
}

#rectangle1 {
    transform: rotate(90deg);
    position: absolute;
    height: 1.5%;
    width: 3%;
    top: 70%;
    left: 48.5%;
    background-color: white;
    border: 0.15vh solid black;
}

#rectangle2 {
    transform: rotate(45deg);
    position: absolute;
    height: 1.5%;
    width: 3%;
    top: 73%;
    left: 43.5%;
    background-color: white;
    border: 0.15vh solid black;
}

#rectangle3 {
    transform: rotate(135deg);
    position: absolute;
    height: 1.5%;
    width: 3%;
    top: 73%;
    left: 53.5%;
    background-color: white;
    border: 0.15vh solid black;
}

#rectangle4 {
    transform: rotate(90deg);
    position: absolute;
    height: 1.5%;
    width: 3%;
    top: 30%;
    left: 48.5%;
    background-color: white;
    border: 0.15vh solid black;
}

#rectangle5 {
    transform: rotate(135deg);
    position: absolute;
    height: 1.5%;
    width: 3%;
    top: 27%;
    left: 43.5%;
    background-color: white;
    border: 0.15vh solid black;
}

#rectangle6 {
    transform: rotate(45deg);
    position: absolute;
    height: 1.5%;
    width: 3%;
    top: 27%;
    left: 53.5%;
    background-color: white;
    border: 0.15vh solid black;
}

.cont {
    width: 5vh;
    height: 5vh;
    position: absolute;
    text-align: center;
    font-weight: bold;
    top: 8%;
    left: 95%;
    transform: translate(-50%, -50%);
    border: 2px solid #aaa;
    border-radius: 50%;
    overflow: hidden;
}
.cont::after {
    content: "";
    width: 4vh;
    height: 4vh;
    position: absolute;
    top: 0.46vh;
    left: 0.46vh;
    border: 1px solid #aaa;
    border-radius: 50%;
    background: #777;
    background-image: linear-gradient(transparent calc(50% - 1px), #aaa calc(50% - 1px), #aaa calc(50% + 1px), transparent calc(50% + 1px)), linear-gradient(90deg, transparent calc(50% - 1px), #aaa calc(50% - 1px), #aaa calc(50% + 1px), transparent calc(50% + 1px));
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.5vh;
    height: 2vh;
    transform-origin: 0 0;
    background-image: linear-gradient(black, transparent);
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 5vh;
    height: 5vh;
}

.number::after {
    content: "";
    width: 5vh;
    height: 5vh;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3vh;
    line-height: 5vh;
    animation: count 3s 1 steps(3, start);
}

@keyframes count {
    0%, 33.33% {
        content: "3";
    }
    33.34%, 66.66% {
        content: "2";
    }
    66.67%, 100% {
        content: "1";
    }
}